<div class="container">

  <h1>Events</h1>

  <% if user_signed_in? && current_user.role == 'admin' %>
    <%= link_to 'New Event', new_event_path, class:'btn btn-secondary' %>
  <% end %>

<div class="container">
  <div class="row">
  	<div class="col-sm-12 col-md-8">
      <div id="calendar" data-token="<%= form_authenticity_token %>"></div>
    </div>
  	<div class="col-sm-12 col-md-4">
      <%= render 'sidebar' %>
    </div>
  </div>
</div>

  <%= render 'modal' %>



</div>
