<div class="mt-1">
  <h1 class="mb-5">Últimas Noticias</h1>


      <% @posts.each do |post| %>
      <div class="card mb-3" >
        <div class="row no-gutters align-items-center">
        <div class="col-md-4 ">
          <img src="<%= post.photo.postimg%>" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-title"><strong><%= link_to post.title, post, class:'stretched-link'%></strong></p>
            <div>
              <!-- poner tags acá -->
              <% post.tags.each do |tag| %>
                <small>#<%= tag.name %></small>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
      <% end %>

</div>





  </div>
</div>
