<figure class="text-center my-3">
  <a href="<%= root_path %>"><b><img src="<%= asset_path('fechken.jpg') %>" alt="fechken" width="50px"></b></a>
</figure>

<div class="container-fluid bg-dark pt-4 pb-3 text-center">
  <p class="h5 text-white text-center ">Federación Chilena de Kendo</p>
  <p class="text-danger small">Fundada el 17 de febrero 1997</p>
    <a href="http://instagram.com/fedkendochile" target="_blank">
      <i class="fab fa-instagram fa-2x text-danger mx-3"></i>
    </a>
    <a href="https://www.facebook.com/pg/FEDERACIONCHILENADEKENDO" target="_blank">
      <i class="fab fa-facebook-square fa-2x text-danger mx-3"></i>
    </a>
</div>
