<figure class="text-center my-3">
  <img src="<%= asset_path('fechken.jpg') %>" alt="fechken" width="50px">
</figure>

<div class="container-fluid bg-dark pt-4 pb-3">
  <p class="h5 text-white text-center ">Federación Chilena de Kendo</p>
  <p class="text-danger text-center small">Fundada el 17 de febrero 1997</p>
</div>
